{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}"
        />
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'blogStyle.css' %}" />
    </head>
    <!-- images, highlighted contents, if load little -> css animations else -> animations video  -->
    <!-- next button at the end -->
    <body>
        <nav class="navbar bg-custom">
            <div class="container-fluid justify-content-center">
                <a href="#" class="navbar-brand mb-0 h1">ECP</a>
            </div>
        </nav>
        <header>
            <h1 class="heading">IP Address</h1>
        </header>
        <section class="container1">
            <p>
                An IP address, or Internet Protocol address, is a numerical
                label assigned to each device connected to a computer network
                that uses the Internet Protocol for communication. IP addresses
                serve two primary purposes.
            </p>
            <ol>
                <li>
                    <h3>Host or Network Interface Identification:</h3>
                    <ul>
                        <li>
                            An IP address uniquely identifies a device on a
                            network. This allows for precise communication
                            between devices. Devices can include computers,
                            servers, routers, smartphones, IoT devices, etc.
                        </li>
                        <li>
                            It consists of two parts: the network identifier and
                            the host identifier. The combination of these two
                            parts uniquely identifies a device on a network.
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Location Addressing:</h3>
                    <ul>
                        <li>
                            IP addresses are used to route data packets from the
                            source to the destination across networks. Each
                            router along the way uses the destination IP address
                            to make decisions on where to forward the packet
                            next.
                        </li>
                        <li>
                            IP addresses help in the efficient routing of data
                            across the internet, ensuring it reaches the correct
                            destination.
                        </li>
                    </ul>
                </li>
            </ol>
            <h2>IPv4 and IPv6:</h2>
            <ul>
                <li>
                    <h3>IPv4 (Internet Protocol version 4):</h3>
                    <ul>
                        <li>
                            Consists of a 32-bit address, represented as four
                            sets of decimal numbers separated by dots (e.g.,
                            192.168.0.1).
                        </li>
                        <li>
                            Due to the increasing number of devices connected to
                            the internet, IPv4 addresses are running out,
                            leading to the development of IPv6.
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>IPv6 (Internet Protocol version 6):</h3>
                    <ul>
                        <li>
                            Consists of a 128-bit address, represented as eight
                            sets of hexadecimal numbers separated by colons
                            (e.g., 2001:0db8:85a3:0000:0000:8a2e:0370:7334).
                        </li>
                        <li>
                            Designed to overcome the limitations of IPv4,
                            providing an immensely larger address space to
                            accommodate the growing number of devices.
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Image of class of IP address -->
            <h2>Classes of IP Addresses:</h2>
            <ul>
                <li>
                    <h3>Classful Addressing:</h3>
                    <ul>
                        <li>
                            IP addresses were originally divided into classes
                            (A, B, C, D, E) based on the number of network and
                            host bits.
                        </li>
                        <li>
                            Classes A, B, and C are used for general addressing,
                            while D is reserved for multicast groups, and E is
                            reserved for experimental purposes.
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Classless Addressing (CIDR):</h3>
                    <ul>
                        <li>
                            Introduced to improve address space utilization and
                            routing efficiency.
                        </li>
                        <li>
                            CIDR allows for more flexible allocation of IP
                            addresses without strictly adhering to predefined
                            classes.
                        </li>
                    </ul>
                </li>
            </ul>
            <h2>Private and Public IP Addresses:</h2>
            <ul>
                <li>
                    <h3>Private IP Addresses:</h3>
                    <ul>
                        <li>
                            Reserved for use within private networks and are not
                            routable over the internet.
                        </li>
                        <li>
                            Common private IP address ranges include 10.0.0.0 to
                            10.255.255.255, 172.16.0.0 to 172.31.255.255, and
                            192.168.0.0 to 192.168.255.255.
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Public IP Addresses:</h3>
                    <ul>
                        <li>
                            Assigned by Internet Service Providers (ISPs) and
                            are routable over the internet.
                        </li>
                        <li>
                            Unique public IP addresses are crucial for devices
                            that need to be directly accessible from the
                            internet.
                        </li>
                    </ul>
                </li>
            </ul>
            <br />
        </section>
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a href="{% url 'start' number=2 %}" class="page-link"
                        >Next</a
                    >
                </li>
            </ul>
        </nav>
        <!-- no footers: But copyright tag at the end -->
        <!-- <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'node_modules/fullpage.js/dist/fullpage.js' %}"></script> -->
    </body>
</html>
