{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Quiz</title>
        <link rel="stylesheet" href="{% static 'quizStyle.css' %}" />
        <script
            defer
            src="{% static 'js/quizScript.js' %}"
            data-topic={{ topic }}
        ></script>
    </head>
    <body>
        <section class="quiz-container">
            <div class="page">
                <h4 class="question">Quiz</h4>
                <div class="answer-container"></div>
                <button class="start-button">start</button>
            </div>
            <span class="indicator hidden"></span>
        </section>
        <button class="final-button btn-hidden">
            <a href="{% url 'start' number=3 subcategory=topic %}" class="page-link">next</a>
        </button>
        <button class="final-button go-back">
            <a href="{% url 'start' number=1 subcategory=topic %}" class="page-link">next</a>
        </button>
    </body>
</html>
