{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Educrazepolis</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <!-- <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon.png' %}"> -->
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <link rel="stylesheet" href="{% static 'baseStyle.css' %}" />
        {% block user_base_head %} {% endblock %}
        <script
            src="https://kit.fontawesome.com/a9cc2d403e.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <header>
            <nav>
                <h1><img src="{% static 'favicon-32x32.png' %}">Educrazepolis</h1>
                <span class="material-symbols-outlined" id="menu-btn">
                    menu
                </span>
                <ul class="menu-links">
                  {% if user.is_authenticated %}
                    <li class="menu-items" id="register-btn">
                        <a href="{% url 'users-profile' %}">Profile</a>
                    </li>
                    <li class="menu-items" id="register-btn">
                      <a href="{% url 'logout' %}">Logout</a>
                    </li>
                  {% else %}
                    <li class="menu-items" id="register-btn">
                      <a href="{% url 'login' %}">Sign in</a>
                    </li>
                  {% endif %}
                    <span class="material-symbols-outlined" id="close-menu-btn"
                        >close</span
                    >
                </ul>
            </nav>
            {% if messages %}
              <div class="alert alert-dismissible" role="alert">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
        </header>
        <!-- content starts here -->
        {% block user_base_content %} {% endblock %}



        {% include 'footer.html' %}
        <script>
            let header = document.querySelector("header");
            let menuBtn = document.querySelector("#menu-btn");
            let closeBtn = document.querySelector("#close-menu-btn");
            let expandIcon = document.querySelector("#expand_icon");
            menuBtn.addEventListener("click", () => {
                header.classList.toggle("show-mobile-menu");
            });

            closeBtn.addEventListener("click", () => {
                menuBtn.click();
            });
        </script>
    </body>
</html>
