<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>quiz</title>
    </head>
    <body>
        <a href="{% url 'hardwares' %}">Go Back</a>
    </body>
</html>

<!-- typeform quiz will take over the last content -->
<!-- quiz
    blog/article explanation
    animation explanation -> video -> make sure for proper stable internet connection
    practical session -> subnets one example with hints
    Task -> practical -> two example with no hints
    Final Game -> finally put altogether into scenario based situation with animations playing and terminal gets open and decision making
 -->
